.container {
  height: calc(100vh - 48px);
  margin-top: 48px;
  max-height: 900px;
  min-height: 534px;
  
  .box {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      
      .left {
          display: flex;
          flex-direction: column;
          font-weight: 700;
          justify-content: center;
          
          .hello {
              font-size: 60px;
              margin: 18px 0;
            }
          .iam {
              font-size: 40px;
              margin: 14px 0;
              
              .name {
                  color: #7485f3;
                  font-size: 46px;
                }
            }
          .into {
              font-size: 30px;
              height: 90px;
              margin: 12px 0;
            }
          .icon {
              margin-bottom: 16px;
            }
        }
      .right {
          display: flex;
          justify-content: center;
          
          .image {
              height: fit-content;
              margin: auto 0;
            }
        }
    }
}
