.home {
  height: 100vh;
  border-bottom: 1px solid rgb(226, 226, 226);
  .content {
    align-items: center;
    padding-top: 48px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .image {
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
.about {
  padding-top: 98px;
  padding-bottom: 98px;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.skills {
  padding-top: 98px;
  padding-bottom: 98px;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.education {
  padding-top: 98px;
  padding-bottom: 98px;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.work {
  padding-top: 98px;
  padding-bottom: 98px;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.experience {
  padding-top: 98px;
  padding-bottom: 98px;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.contact {
  padding-top: 98px;
  padding-bottom: 98px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.box {
  border-radius: 12px;
  padding: 14px 8px;
  margin: 2px;
  background-color: #110d4f;
  color: white;
  text-align: center;
  font-weight: 600;
}